
body{
    text-align: center;
}
#resultadopesquisa{
    background-color: rgb(141, 133, 133);
    width: 70%;
    height: 50%;
    margin: auto;
    border-radius: 20px;
    
   
} 
button{
    margin-top: 3%;
    width: 30%;
    height:30px;
    border-radius: 20px ;
    box-shadow: 5px 4px 8px;

}
#pesquisar{
    color: blue;
    width: 20%;
}
#mensagem{ 
    padding: 2% 2%  2%;
    
}

   
